<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de Mí - Mi Blog</title>
</head>
<body>
    <header>
        <h1>Acerca de Mí</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'lista_articulos' %}">Artículos</a></li>
            <li><a href="{% url 'acerca_de' %}">Acerca de</a></li>
            <!-- Agrega más enlaces según la necesidad de tu aplicación -->
        </ul>
    </nav>

    <section>
        <p>Bienvenido/a a Mi Blog. Esta página fue creada por Lucas de la Arena como Proyecto Final para el curso de CoderHouse, con la ayuda de CoderAsk y de Chat GPT.</p>
        <p>En Mi Blog, compartimos artículos interesantes sobre diversos temas. ¡Esperamos que disfrutes explorando nuestro contenido!</p>
        <!-- Puedes agregar más contenido según tus necesidades -->

        <h2>luquidela (instagram)</h2>
        <p>Si tienes alguna pregunta o comentario, no dudes en ponerte en contacto con nosotros:</p>
        <p>Email: [lucasdlarena@gmail.com]</p>
        <!-- Agrega más detalles de contacto según tus necesidades -->
    </section>

    <footer>
        <p>&copy; 2023 Mi Blog. Todos los derechos reservados.</p>
    </footer>
</body>
</html>